{% extends "split/base.html" %}
{% block content %}
<div class="row content-buffer">
    <div class="content col-lg-10 offset-lg-1 col-md-12 col-sm-12" style="padding: 2vw 3vw 2vw 3vw;height:250px">
        <h1>About</h1>
        <hr>
        <span style="font-size:20px;color:white">
            A Django based web app that serves a couple of convenient audio tools.
            <br>
            Primarily written in Python with HTML + CSS for templating, as well as several React & Bootstrap (grid)
            components.
            <br>
            Create an account to keep service records.
        </span>
        <div style="margin-top:200px"></div>
    </div>
</div>
{% endblock content %}